body{
    background-color: rgb(25, 40, 54);
    color: white;
}
body p{
    letter-spacing: 0.2px;
    text-align: center;
    font-family:'Arial';
    font-size: medium;
}
.blankSpace{
    margin: 10px;
    padding: 60px;
}

.profileImage{
    margin: 5px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 240px;
    border-radius: 100%;
    transition: box-shadow 0.5s ease;
    animation: fadeIn 0.4s ease;
}

.textBox{
    animation: fadeIn 0.4s ease;
}

.header{
    display: flex;
    margin: -10px;
    padding: 10px;
    background-color: rgb(10, 10, 10);
    box-shadow: 0px 3px 10px #000000;
    justify-content:space-around;
}

.title{
    margin: 10px;
    padding: 10px;
    letter-spacing: 0.5px;
    text-align: left;
    color:white;
    font-family:'Segoe UI';
    font-weight:200;
    font-size:x-large;
    display: block;
}

.title2{
    margin: 10px;
    padding: 10px;
    letter-spacing: 0.3px;
    text-align: center;
    color:rgb(175, 175, 175);
    font-family:'Segoe UI';
    font-weight:300;
    font-size:x-large;
    display: block;
    
}

.navBar{
    margin: 20px;
    padding: 10px;
    gap: 10px;
}
.navBar a{
    font-family: arial;
    text-decoration: none;
    color: inherit;
    margin: 10px;
    padding: 10px;
}

.navBar a:hover{
    font-family: arial;
    text-decoration: none;
    color: inherit;
    margin: 10px;
    padding: 10px;
    text-shadow: 0px 0px 10px#2aadd4;
}

.contact{
    margin: 10px;
    padding: 10px;
    border: 1px solid #2aadd4;
}

.contact:hover{
    margin: 10px;
    padding: 10px;
    border: 2px solid #2aadd4;
    box-shadow: 0px 0px 3px #2aadd4;
}
.cardTitle {
    animation: fadeIn 0.8s ease;
}
.card-container{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    gap: 32px;
    justify-content: center;
    animation: fadeIn 0.8s ease;
}

.card{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39);
    background-color: rgb(43, 64, 77);
    transition: 0.3s;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.cardImage{
    height: 100px;
    width: 100px;
}

.card:hover {
    box-shadow: 0 0px 32px 0 rgba(155, 195, 247, 0.322);
    padding: 9.5px;
}
.ctt-container{
    display: grid;
    grid-template-columns: 120px;
    gap: 64px;
    justify-content: center;
    animation: fadeIn 0.8s ease;
}

.ctt{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39);
    background-color: #3d528b2a;
    transition: 0.3s;
    border-radius: 5px;
    width: 600px;
    height: 200px;
}

.cttImage{
    height: 200px;
    width: 200px;
}

.ctt:hover {
    box-shadow: 0 0px 32px 0 rgba(139, 189, 255, 0.322);
    padding: 9.5px;
}
.project-container{
    display:grid;
    gap:16px;
}
.project{
    display: flex;
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39);
    background-color: rgb(25, 40, 50);
    transition: 0.3s;
    animation: fadeIn 0.3s ease
}


.project-image-container{
    display: flex;
    justify-content: center;
    
}
.project-image{
    height: 150px;
    width: 150px;
    margin: 15px;
    padding: 10px;
}
    
.project-background1{
    outline: none;
    width: 500px;
    height: 100%;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(25, 40, 50) 70%, rgb(25, 40, 50) 100%),
        url('./img/program1.jpg');
    background-size: cover;
}
.project-background2{
    outline: none;
    width: 500px;
    height: 100%;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(25, 40, 50) 70%, rgb(25, 40, 50) 100%),
        url('./img/program2.jpg');
    background-size: cover;
}
.project-background3{
    outline: none;
    width: 500px;
    height: 100%;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(25, 40, 50) 70%, rgb(25, 40, 50) 100%),
        url('./img/program3.jpg');
    background-size: cover;
}
.project a{
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: none;
    color: inherit;
}
.project a:hover{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:underline;
    color: inherit;

}
.project h2{
    margin: 10px;
    padding: 10px;
    letter-spacing: 0.5px;
    color:white;
    font-family:'Segoe UI';
    font-weight:200;
    font-size:x-large;
}
.project-text{
    display:block;
}

.project h1{
    letter-spacing: 1px;
    text-align: left;
    color:white;
    font-family:'Segoe UI';
    font-weight:200;
    font-size:x-large;
}
.project p{
    letter-spacing: 0.2px;
    text-align: justify;
    font-family:'Arial';
    font-size: medium;
}

.project:hover{
    box-shadow: 0 0px 32px 0 rgba(139, 189, 255, 0.322);
}
.footer{
    margin: -10px;
    padding: 10px;
    background-color: rgb(10, 10, 10);
    justify-items:center;
    align-items: center;
    gap: 20px;
}
.footer a{
    text-decoration: none;
}
.hooks{
    padding: 5px;
    filter: invert(1);
    width: 32px;
    height: 32px;
    
}
.hooks:hover{
    padding: 5px;
    filter: invert(0.5);
    width: 32px;
    height: 32px;
    text-shadow: 0px 0px 5px#2aadd4;
    
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }   
}